({:timestamp
  #object[org.joda.time.DateTime 0x35d56992 "2017-08-05T21:00:00.000Z"],
  :minutes-x 1260,
  :pixels-x 221,
  :values
  {:r 90,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 227,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1004,
   :tstm 8,
   :spp -8,
   :gust 8,
   :tcc_mean 3}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1f908fea "2017-08-05T22:00:00.000Z"],
  :minutes-x 1320,
  :pixels-x 231,
  :values
  {:r 92,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 226,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 8,
   :spp -8,
   :gust 7,
   :tcc_mean 3}}
 {:timestamp
  #object[org.joda.time.DateTime 0x3cb4cde9 "2017-08-05T23:00:00.000Z"],
  :minutes-x 1380,
  :pixels-x 242,
  :values
  {:r 93,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 224,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 9,
   :spp -8,
   :gust 7,
   :tcc_mean 4}}
 {:timestamp
  #object[org.joda.time.DateTime 0xa0f4f1f "2017-08-06T00:00:00.000Z"],
  :minutes-x 1440,
  :pixels-x 252,
  :values
  {:r 92,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 4,
   :wd 227,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 8,
   :spp -8,
   :gust 7,
   :tcc_mean 6}}
 {:timestamp
  #object[org.joda.time.DateTime 0x3a87026c "2017-08-06T01:00:00.000Z"],
  :minutes-x 1500,
  :pixels-x 263,
  :values
  {:r 91,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 4,
   :wd 220,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 9,
   :spp -8,
   :gust 7,
   :tcc_mean 6}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7f7c5f9d "2017-08-06T02:00:00.000Z"],
  :minutes-x 1560,
  :pixels-x 273,
  :values
  {:r 92,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 4,
   :wd 220,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 11,
   :spp -8,
   :gust 8,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1f1d563a "2017-08-06T03:00:00.000Z"],
  :minutes-x 1620,
  :pixels-x 284,
  :values
  {:r 92,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 4,
   :wd 227,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1004,
   :tstm 12,
   :spp -8,
   :gust 8,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x580dac76 "2017-08-06T04:00:00.000Z"],
  :minutes-x 1680,
  :pixels-x 295,
  :values
  {:r 88,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 237,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1005,
   :tstm 9,
   :spp -8,
   :gust 9,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x3414a6e "2017-08-06T05:00:00.000Z"],
  :minutes-x 1740,
  :pixels-x 305,
  :values
  {:r 86,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1005,
   :tstm 6,
   :spp -8,
   :gust 9,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2f914298 "2017-08-06T06:00:00.000Z"],
  :minutes-x 1800,
  :pixels-x 316,
  :values
  {:r 83,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1005,
   :tstm 7,
   :spp -8,
   :gust 10,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1597a108 "2017-08-06T07:00:00.000Z"],
  :minutes-x 1860,
  :pixels-x 326,
  :values
  {:r 80,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 241,
   :pmax 0.0,
   :pcat 0,
   :t 15,
   :msl 1006,
   :tstm 11,
   :spp -8,
   :gust 10,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x27fb95bd "2017-08-06T08:00:00.000Z"],
  :minutes-x 1920,
  :pixels-x 337,
  :values
  {:r 79,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 15,
   :msl 1006,
   :tstm 11,
   :spp -8,
   :gust 11,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2e51b954 "2017-08-06T09:00:00.000Z"],
  :minutes-x 1980,
  :pixels-x 347,
  :values
  {:r 77,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 245,
   :pmax 0.1,
   :pcat 4,
   :t 15,
   :msl 1007,
   :tstm 10,
   :spp 0,
   :gust 12,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x517f935b "2017-08-06T10:00:00.000Z"],
  :minutes-x 2040,
  :pixels-x 358,
  :values
  {:r 75,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 244,
   :pmax 0.1,
   :pcat 3,
   :t 16,
   :msl 1007,
   :tstm 10,
   :spp 0,
   :gust 12,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x71e13f47 "2017-08-06T11:00:00.000Z"],
  :minutes-x 2100,
  :pixels-x 368,
  :values
  {:r 75,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 240,
   :pmax 0.1,
   :pcat 3,
   :t 16,
   :msl 1007,
   :tstm 11,
   :spp 0,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x4926aa9 "2017-08-06T12:00:00.000Z"],
  :minutes-x 2160,
  :pixels-x 379,
  :values
  {:r 70,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 242,
   :pmax 0.1,
   :pcat 4,
   :t 17,
   :msl 1008,
   :tstm 14,
   :spp 0,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2b3f1372 "2017-08-06T13:00:00.000Z"],
  :minutes-x 2220,
  :pixels-x 389,
  :values
  {:r 68,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 243,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1008,
   :tstm 15,
   :spp -8,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x5dd7a070 "2017-08-06T14:00:00.000Z"],
  :minutes-x 2280,
  :pixels-x 400,
  :values
  {:r 62,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 249,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1008,
   :tstm 14,
   :spp -8,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x47a819fb "2017-08-06T15:00:00.000Z"],
  :minutes-x 2340,
  :pixels-x 410,
  :values
  {:r 60,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 248,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1008,
   :tstm 14,
   :spp -8,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x14909842 "2017-08-06T16:00:00.000Z"],
  :minutes-x 2400,
  :pixels-x 421,
  :values
  {:r 61,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 241,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1009,
   :tstm 12,
   :spp -8,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x8008c0b "2017-08-06T17:00:00.000Z"],
  :minutes-x 2460,
  :pixels-x 431,
  :values
  {:r 58,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 243,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1009,
   :tstm 9,
   :spp -8,
   :gust 13,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2551222 "2017-08-06T18:00:00.000Z"],
  :minutes-x 2520,
  :pixels-x 442,
  :values
  {:r 59,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 243,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1010,
   :tstm 7,
   :spp -8,
   :gust 12,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x4a1ab56a "2017-08-06T19:00:00.000Z"],
  :minutes-x 2580,
  :pixels-x 453,
  :values
  {:r 61,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 240,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1010,
   :tstm 5,
   :spp -8,
   :gust 12,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x5daf8d8c "2017-08-06T20:00:00.000Z"],
  :minutes-x 2640,
  :pixels-x 463,
  :values
  {:r 67,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 15,
   :msl 1011,
   :tstm 4,
   :spp -8,
   :gust 11,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0xfb598c1 "2017-08-06T21:00:00.000Z"],
  :minutes-x 2700,
  :pixels-x 474,
  :values
  {:r 70,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1011,
   :tstm 3,
   :spp -8,
   :gust 11,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2e575e0d "2017-08-06T22:00:00.000Z"],
  :minutes-x 2760,
  :pixels-x 484,
  :values
  {:r 73,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 241,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1012,
   :tstm 3,
   :spp -8,
   :gust 11,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1344b97f "2017-08-06T23:00:00.000Z"],
  :minutes-x 2820,
  :pixels-x 495,
  :values
  {:r 74,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 238,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1012,
   :tstm 3,
   :spp -8,
   :gust 10,
   :tcc_mean 6}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7f0a2d07 "2017-08-07T00:00:00.000Z"],
  :minutes-x 2880,
  :pixels-x 505,
  :values
  {:r 75,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 238,
   :pmax 0.0,
   :pcat 0,
   :t 12,
   :msl 1013,
   :tstm 3,
   :spp -8,
   :gust 10,
   :tcc_mean 4}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1987cb08 "2017-08-07T01:00:00.000Z"],
  :minutes-x 2940,
  :pixels-x 516,
  :values
  {:r 75,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 238,
   :pmax 0.0,
   :pcat 0,
   :t 12,
   :msl 1013,
   :tstm 3,
   :spp -8,
   :gust 10,
   :tcc_mean 2}}
 {:timestamp
  #object[org.joda.time.DateTime 0x740cc237 "2017-08-07T02:00:00.000Z"],
  :minutes-x 3000,
  :pixels-x 526,
  :values
  {:r 77,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 239,
   :pmax 0.0,
   :pcat 0,
   :t 12,
   :msl 1013,
   :tstm 2,
   :spp -8,
   :gust 10,
   :tcc_mean 0}}
 {:timestamp
  #object[org.joda.time.DateTime 0x4073c5d9 "2017-08-07T03:00:00.000Z"],
  :minutes-x 3060,
  :pixels-x 537,
  :values
  {:r 78,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 240,
   :pmax 0.0,
   :pcat 0,
   :t 11,
   :msl 1013,
   :tstm 2,
   :spp -8,
   :gust 9,
   :tcc_mean 0}}
 {:timestamp
  #object[org.joda.time.DateTime 0x23ea4133 "2017-08-07T04:00:00.000Z"],
  :minutes-x 3120,
  :pixels-x 547,
  :values
  {:r 78,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 240,
   :pmax 0.0,
   :pcat 0,
   :t 11,
   :msl 1014,
   :tstm 2,
   :spp -8,
   :gust 9,
   :tcc_mean 0}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2ac388b4 "2017-08-07T05:00:00.000Z"],
  :minutes-x 3180,
  :pixels-x 558,
  :values
  {:r 74,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 244,
   :pmax 0.0,
   :pcat 0,
   :t 12,
   :msl 1014,
   :tstm 2,
   :spp -8,
   :gust 10,
   :tcc_mean 0}}
 {:timestamp
  #object[org.joda.time.DateTime 0x70a1cf74 "2017-08-07T06:00:00.000Z"],
  :minutes-x 3240,
  :pixels-x 568,
  :values
  {:r 69,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 247,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1015,
   :tstm 2,
   :spp -8,
   :gust 11,
   :tcc_mean 1}}
 {:timestamp
  #object[org.joda.time.DateTime 0x293c8fe9 "2017-08-07T07:00:00.000Z"],
  :minutes-x 3300,
  :pixels-x 579,
  :values
  {:r 64,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 254,
   :pmax 0.0,
   :pcat 0,
   :t 15,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 12,
   :tcc_mean 2}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2aff32fe "2017-08-07T08:00:00.000Z"],
  :minutes-x 3360,
  :pixels-x 590,
  :values
  {:r 58,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 252,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 13,
   :tcc_mean 4}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7a35221 "2017-08-07T09:00:00.000Z"],
  :minutes-x 3420,
  :pixels-x 600,
  :values
  {:r 53,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 253,
   :pmax 0.0,
   :pcat 0,
   :t 17,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 13,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x6bb84415 "2017-08-07T10:00:00.000Z"],
  :minutes-x 3480,
  :pixels-x 611,
  :values
  {:r 47,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 5,
   :wd 257,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 15,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x5487b7f4 "2017-08-07T11:00:00.000Z"],
  :minutes-x 3540,
  :pixels-x 621,
  :values
  {:r 46,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 257,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 15,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x8df8f6 "2017-08-07T12:00:00.000Z"],
  :minutes-x 3600,
  :pixels-x 632,
  :values
  {:r 46,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 256,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 15,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x36a4cb88 "2017-08-07T15:00:00.000Z"],
  :minutes-x 3780,
  :pixels-x 663,
  :values
  {:r 54,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 250,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1017,
   :tstm 1,
   :spp -8,
   :gust 12,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x28afe895 "2017-08-07T18:00:00.000Z"],
  :minutes-x 3960,
  :pixels-x 695,
  :values
  {:r 66,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 212,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1017,
   :tstm 2,
   :spp -8,
   :gust 7,
   :tcc_mean 7}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7840c3fd "2017-08-07T21:00:00.000Z"],
  :minutes-x 4140,
  :pixels-x 726,
  :values
  {:r 66,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 198,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1017,
   :tstm 5,
   :spp -8,
   :gust 9,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x4493da29 "2017-08-08T00:00:00.000Z"],
  :minutes-x 4320,
  :pixels-x 758,
  :values
  {:r 82,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 191,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1018,
   :tstm 7,
   :spp -8,
   :gust 7,
   :tcc_mean 2}}
 {:timestamp
  #object[org.joda.time.DateTime 0x3b564b72 "2017-08-08T06:00:00.000Z"],
  :minutes-x 4680,
  :pixels-x 821,
  :values
  {:r 76,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 4,
   :wd 183,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1019,
   :tstm 2,
   :spp -8,
   :gust 7,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x309ad463 "2017-08-08T12:00:00.000Z"],
  :minutes-x 5040,
  :pixels-x 885,
  :values
  {:r 47,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 177,
   :pmax 0.0,
   :pcat 0,
   :t 21,
   :msl 1018,
   :tstm 4,
   :spp -8,
   :gust 10,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x6aebc70a "2017-08-08T18:00:00.000Z"],
  :minutes-x 5400,
  :pixels-x 948,
  :values
  {:r 64,
   :ws 2,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 134,
   :pmax 0.0,
   :pcat 0,
   :t 18,
   :msl 1017,
   :tstm 0,
   :spp -8,
   :gust 6,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x1a658fa7 "2017-08-09T00:00:00.000Z"],
  :minutes-x 5760,
  :pixels-x 1011,
  :values
  {:r 72,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 122,
   :pmax 0.0,
   :pcat 0,
   :t 16,
   :msl 1017,
   :tstm 0,
   :spp -8,
   :gust 8,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x6fe131b6 "2017-08-09T06:00:00.000Z"],
  :minutes-x 6120,
  :pixels-x 1074,
  :values
  {:r 88,
   :ws 5,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 12,
   :wd 92,
   :pmax 0.4,
   :pcat 3,
   :t 15,
   :msl 1014,
   :tstm 1,
   :spp 0,
   :gust 11,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x21cf66d2 "2017-08-09T12:00:00.000Z"],
  :minutes-x 6480,
  :pixels-x 1137,
  :values
  {:r 72,
   :ws 6,
   :pmedian 0,
   :pmean 0,
   :pmin 0.1,
   :Wsymb 12,
   :wd 102,
   :pmax 0.3,
   :pcat 3,
   :t 18,
   :msl 1010,
   :tstm 2,
   :spp 0,
   :gust 14,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7a094ea "2017-08-09T18:00:00.000Z"],
  :minutes-x 6840,
  :pixels-x 1201,
  :values
  {:r 97,
   :ws 3,
   :pmedian 1,
   :pmean 1,
   :pmin 1.1,
   :Wsymb 8,
   :wd 178,
   :pmax 1.7,
   :pcat 3,
   :t 16,
   :msl 1009,
   :tstm 9,
   :spp 0,
   :gust 10,
   :tcc_mean 5}}
 {:timestamp
  #object[org.joda.time.DateTime 0x7c68f3be "2017-08-10T00:00:00.000Z"],
  :minutes-x 7200,
  :pixels-x 1264,
  :values
  {:r 97,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 199,
   :pmax 0.0,
   :pcat 0,
   :t 13,
   :msl 1014,
   :tstm 0,
   :spp -8,
   :gust 7,
   :tcc_mean 1}}
 {:timestamp
  #object[org.joda.time.DateTime 0x2d9d3915 "2017-08-10T06:00:00.000Z"],
  :minutes-x 7560,
  :pixels-x 1327,
  :values
  {:r 91,
   :ws 2,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 1,
   :wd 179,
   :pmax 0.0,
   :pcat 0,
   :t 14,
   :msl 1016,
   :tstm 0,
   :spp -8,
   :gust 6,
   :tcc_mean 1}}
 {:timestamp
  #object[org.joda.time.DateTime 0x6ee7f138 "2017-08-10T12:00:00.000Z"],
  :minutes-x 7920,
  :pixels-x 1390,
  :values
  {:r 55,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 6,
   :wd 169,
   :pmax 0.0,
   :pcat 0,
   :t 20,
   :msl 1016,
   :tstm 4,
   :spp -8,
   :gust 7,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x72e5358e "2017-08-10T18:00:00.000Z"],
  :minutes-x 8280,
  :pixels-x 1453,
  :values
  {:r 95,
   :ws 2,
   :pmedian 0,
   :pmean 0,
   :pmin 0.1,
   :Wsymb 12,
   :wd 95,
   :pmax 0.6,
   :pcat 3,
   :t 15,
   :msl 1014,
   :tstm 11,
   :spp 0,
   :gust 4,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x231121b0 "2017-08-11T00:00:00.000Z"],
  :minutes-x 8640,
  :pixels-x 1517,
  :values
  {:r 100,
   :ws 1,
   :pmedian 1,
   :pmean 1,
   :pmin 0.2,
   :Wsymb 12,
   :wd 157,
   :pmax 0.9,
   :pcat 3,
   :t 14,
   :msl 1012,
   :tstm 7,
   :spp 0,
   :gust 4,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x43e55d39 "2017-08-11T06:00:00.000Z"],
  :minutes-x 9000,
  :pixels-x 1580,
  :values
  {:r 98,
   :ws 2,
   :pmedian 0,
   :pmean 0,
   :pmin 0.2,
   :Wsymb 8,
   :wd 213,
   :pmax 0.5,
   :pcat 3,
   :t 14,
   :msl 1010,
   :tstm 7,
   :spp 0,
   :gust 5,
   :tcc_mean 8}}
 {:timestamp
  #object[org.joda.time.DateTime 0x51e945b5 "2017-08-11T12:00:00.000Z"],
  :minutes-x 9360,
  :pixels-x 1643,
  :values
  {:r 66,
   :ws 4,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 3,
   :wd 275,
   :pmax 0.1,
   :pcat 3,
   :t 19,
   :msl 1010,
   :tstm 0,
   :spp 0,
   :gust 9,
   :tcc_mean 3}}
 {:minutes-x 10079,
  :pixels-x 1769,
  :timestamp
  #object[org.joda.time.DateTime 0x4004f416 "2017-08-11T23:59:00.000Z"],
  :values
  {:r 90,
   :ws 3,
   :pmedian 0,
   :pmean 0,
   :pmin 0.0,
   :Wsymb 2,
   :wd 212,
   :pmax 1.3888888888913264E-4,
   :pcat 0,
   :t 12,
   :msl 1009,
   :tstm 0,
   :spp -7,
   :gust 7,
   :tcc_mean 3}})
