{
    :axis-radius                ^{:dir :both} {:value 17}
    :axis-span                  10
    :axis-style                 ^{:seesaw :style} {:foreground :white, :background :white, :stroke 2}
    :axis-width                 2
    :background-dir             "backgrounds/"
    :bar-fill-style             ^{:seesaw :style} {:foreground :white, :font "ARIAL-BOLD", :fontsz 64, :stroke 1}
    :bar-height-percent         0.1
    :bar-stroke-style           ^{:seesaw :style} {:foreground :black, :font "ARIAL-BOLD", :fontsz 64, :stroke 1}
    :bar-style                  ^{:seesaw :style} {:foreground :grey, :stroke 4, :background ^{:seesaw :color} [140 140 140 50]}
    :bar-width-percent          0.8
    :category                   "pmp2g"
    :clock-delay-sec            6
    :clock-fps                  1
    :clock-switch-sec           10
    :cloud-style                ^{:seesaw :style} {:foreground :lightgreen, :background :lightgreen, :stroke 10}
    :date-dy                    ^{:dir :vertical} {:value -100}
    :date-fill-style            ^{:seesaw :style} {:foreground :white, :font "ARIAL-BOLD", :fontsz 80, :stroke 1}
    :date-str-y                 0.23
    :date-stroke-style          ^{:seesaw :style} {:foreground :black, :font "ARIAL-BOLD", :fontsz 80, :stroke 1}
    :date-txt-style             ^{:seesaw :style} {:foreground :white, :background :black, :stroke 2, :font "ARIAL", :fontsz 192}
    :day-outline-style          ^{:seesaw :style} {:foreground :white, :stroke 3, :font "ARIAL", :fontsz 192}
    :day-red-style              ^{:seesaw :style} {:foreground :red, :stroke 3, :font "ARIAL", :fontsz 192}
    :day-stroke-width           3
    :day-style                  ^{:seesaw :style} {:foreground :black, :stroke 3, :font "ARIAL", :fontsz 192}
    :day-tick-style             ^{:seesaw :style} {:foreground :white, :background :white, :stroke 1}
    :degree-char                "°"
    :exception-style            ^{:seesaw :style} {:foreground :red, :font "ARIAL", :fontsz 64}
    :forecast-bg                ^{:seesaw :color} [128 128 128 128]
    :graph-days                 7
    :horizontal-scale           1.0
    :image-cache-dir            "image-cache/"
    :image-dir                  "images/"
    :info-bg-style              ^{:seesaw :style} {:foreground ^{:seesaw :color} [32 32 32], :stroke 2, :background ^{:seesaw :color} [128 128 128 128]}
    :latitude                   58.786869
    :left-axis-width            ^{:dir :horizontal} {:value 100}
    :longitude                  14.26502
    :master-map                 {:filename "master-map.jpg", :center-x 2187, :center-y 11615, :width 2100}
    :max-fixed-temp             30
    :max-rain-level             3
    :min-fixed-temp             -20
    :month-bar-y                0.6
    :radar-ani-delay-sec        2
    :radar-ani-hours            5
    :radar-border-size          ^{:dir :both} {:value 10}
    :radar-fps                  10
    :radar-interval-minutes     5
    :radar-sub-center-x         166
    :radar-sub-center-y         1235/2
    :radar-sub-width            112
    :radar-timer-initial-sec    0
    :radar-txt-style            ^{:seesaw :style} {:foreground :black, :font "ARIAL-BOLD", :fontsz 64}
    :radar-txt-x                ^{:dir :horizontal} {:value 20}
    :radar-txt-y                ^{:dir :vertical} {:value 20}
    :radar-url                  "http://opendata-download-radar.smhi.se/api/version/latest/area/sweden/product/comp/latest.png"
    :radar-width-long           3.2
    :rain-axis-text-style       ^{:seesaw :style} {:foreground :blue, :background :blue, :stroke 1, :font "ARIAL-BOLD", :fontsz 20}
    :rain-style                 ^{:seesaw :style} {:foreground :blue, :background :red, :stroke 1}
    :right-axis-extra           30
    :right-axis-width           ^{:dir :horizontal} {:value 50}
    :small-symbol-sz            ^{:dir :both} {:value 50}
    :smhi-timeout               5000
    :sun-box-dh                 ^{:dir :vertical} {:value 15}
    :sun-box-dw                 ^{:dir :horizontal} {:value 50}
    :sun-box-dy                 ^{:dir :vertical} {:value 40}
    :sun-box-radius             ^{:dir :both} {:value 50}
    :sun-box-style              ^{:seesaw :style} {:foreground :black, :stroke 2, :background ^{:seesaw :color} [140 140 140]}
    :sun-txt-style              ^{:seesaw :style} {:foreground :black, :font "ARIAL", :fontsz 36}
    :symbols-per-day            3
    :temp-axis-text-style       ^{:seesaw :style} {:foreground :red, :background :red, :stroke 1, :font "ARIAL-BOLD", :fontsz 20}
    :temp-padding               5
    :temp-style                 ^{:seesaw :style} {:foreground :red, :background :red, :stroke 8}
    :text-circle-style          ^{:seesaw :style} {:foreground :white, :background :white, :stroke 1}
    :tick-width                 ^{:dir :horizontal} {:value 15}
    :time-str-y                 0.37
    :today-bar-y                0.4
    :twilight-begin             :civil_twilight_begin
    :twilight-end               :civil_twilight_end
    :up-down-dy                 ^{:dir :vertical} {:value 100}
    :version                    "2"
    :vertical-scale             1.0
    :weather-timer-delay-min    30
    :weather-timer-initial-sec  0
    :weather-url                "http://opendata-download-metfcst.smhi.se"
    :week-dy                    ^{:dir :vertical} {:value -180}
    :widget-style               ^{:seesaw :color} [32 32 32 0]
    :wind-axis-factor           3
    :wind-axis-text-style       ^{:seesaw :style} {:foreground :grey, :background :grey, :stroke 1, :font "ARIAL-BOLD", :fontsz 20}
    :wind-padding               2
    :wind-style                 ^{:seesaw :style} {:foreground :white, :background :lightgray, :stroke 1}
    :wnow-bottom-border         ^{:dir :vertical} {:value 10}
    :wnow-center-border         ^{:dir :vertical} {:value 5}
    :wnow-radius                ^{:dir :both} {:value 10}
    :wnow-side-border           ^{:dir :horizontal} {:value 8}
    :wnow-title-part            1/3
    :wnow-title-style           ^{:seesaw :style} {:foreground :white, :font "ARIAL", :fontsz 18}
    :wnow-top-border            ^{:dir :vertical} {:value 6}
    :wnow-value-style           ^{:seesaw :style} {:foreground :white, :font "ARIAL", :fontsz 48}
    :wnow-vt-adjust             -3
    :wnow-vv-adjust             -19
    :year-bar-y                 0.8
    :zero-line-style            ^{:seesaw :style} {:foreground :white, :background :white, :stroke 1}
}
